@charset "utf-8";

[v-cloak] {
  display: none;
}

body,
div,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

h1, form, ul {
  width: 600px;
}

h1 {
  margin: 30px auto 40px;
  font-size: 30px;
}

form {
  margin: 20px auto 40px;
}

form input{
  width: 534px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid rgb(130, 130, 130);
}

ul{
  margin: 0 auto;
}

li {
  list-style: none;
  font-size: 20px;
  line-height: 52px;
}

li #memo_list {
  display: inline-block;
  width: 482px;
}

button {
  border-radius: 7px;
  border: 2px solid rgb(130, 130, 130);
  background: #fff;
  color: rgb(130, 130, 130);
  font-weight: bold;
  font-size: 14px;
  padding: 6px 10px;
}

button:hover {
  border: 2px solid #ffb499;
  color: #ffb499;
}
